# R project files and settings
.Rproj.user
.Rhistory
.RData
.Ruserdata
.csv
.rda

# Compressed data files
*.gz

man/*.Rd
data/
NAMESPACE
.Rbuildignore

# Source Dataset
data-raw/*.csv

# Rendering outputs
*.html
docs
inst/doc
